defmodule <%= test_module_name %> do
  use ExUnit.Case, async: true
  alias <%= impl_module_name %>

  test "when dial on, returns 'on'" do
    assert Chameleon.transform("on") == "on"
  end

  test "when dial off returns 'off'" do
    assert Chameleon.transform("off") == "off"
  end
end