[Unit]
Description=Start the belfrage service
After=network.target network-online.target dial-agent.service
[Service]
Environment=HOME=/home/component
Environment=PORT=7080
LimitNOFILE=16384
User=component
Group=component
WorkingDirectory=/home/component/belfrage
ExecStart=/home/component/belfrage/bin/belfrage foreground
Restart=on-failure
[Install]
WantedBy=multi-user.target
