[Unit]
Description=Start the ingress service
After=network.target network-online.target
[Service]
Environment=HOME=/home/component
Environment=PORT=7080
User=component
Group=component
WorkingDirectory=/home/component/ingress
ExecStart=/home/component/ingress/bin/ingress foreground
Restart=on-failure
[Install]
WantedBy=multi-user.target
